.RollDice {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.allDices {
  display: flex;
  justify-content: center;
  align-content: center;
}

.button, .button-rolling {
  font-size: 20px;
  font-weight: 700;
  padding: 15px 50px;
  border: 0px;
  border-radius: 10px;
  color: white;
  background-color: #8621ed;
  box-shadow: 0 0 7px 3px rgb(0 0 0 / 40%);
  margin: 10px;
  cursor: pointer;
}

.button-rolling {
  background-color: darkslateblue !important;
  opacity: 0.7
}

.dice, .dice-active, .diceRolling {
  width: 55px;
  height: 55px;
  background: lightblue;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin: 0 5px;
  cursor: pointer;
  box-shadow: 0 0 20px rgb(0 0 0 / 50%);
}

.diceRolling {
  animation: spin 1s ease-out;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dice-active {
  opacity: 0.7;
}

.diceAndButtom {
  text-align: center;
  background: linear-gradient( 180deg, #a044ff, #6a3093);
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.row {
  border-bottom: 1px solid black;
}

.row:last-of-type {
  border: none;
}

.gameWrapper {
  border: 1px solid black;
  background-color: white;
  box-shadow: 0 0 5px 2px rgb(0 0 0 / 40%);
  margin: 10px 0;
  min-width: 570px;
}

.finalScore {
  background: linear-gradient( 90deg, #d1c4e9 0, #d1c4e9 0, #d1c4e9 30%, #e3f2fd 40%);
  background-size: 300% 300%;
  animation: Slide 1s ease 1
}

@keyframes Slide {
  from {
    background-position: 100%;
  }
  to {
    background-position: 0%;
  }
}

.notFinalScore {
  cursor: pointer;
}

.App {
  width: 100%;
  background: linear-gradient( 90deg, #91eae4, #86a8e7, #7f7fd5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 66px;
  padding: 4px 0;
  color: white;
  font-weight: 300;
}

.tableWrapper {
  padding: 5px 20px 0;
  margin: 0 0 10px 0;
}

.unactive {
  cursor: not-allowed;
  opacity: 0.5;
}

.value {
  float: right;
}

.finalScore .name {
  text-decoration-line: line-through;
  color: black;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
}

.score p {
  padding: 10px;
  background-color: #a044ff;
  border-radius: 10px;
  color: white;
  box-shadow: 0 0 12px 3px rgb(0 0 0 / 50%);
}

.playAgain {
  font-size: 20px;
  font-weight: 700;
  padding: 15px 50px;
  border: 0px;
  border-radius: 10px;
  color: black;
  background-color: white;
  box-shadow: 0 0 7px 3px rgb(0 0 0 / 40%);
  margin: 10px;
  cursor: pointer;
}